body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    background: #8f8f8fd5;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

#weather-form {
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
}

#city-input {
    flex: 1;
    padding: 5px;
    border-radius: 10px;
}

button {
    padding: 5px 10px;
}

#weather-result {
    margin-top: 20px;
}
